<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <h3 align="center">CCD Migration Process Flag Notification</h3>

    <table class="table table-bordered table-striped tbale-dark">

        <thead class="thead-dark">
        <tr>
            <th>RUN_ID</th>
            <th>CREATED_DATE</th>
            <th>FLAG_STATUS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${runId}"/>
            <td th:text="${createdDate}"/>
            <td th:utext="${flagStatus}"/>
        </tr>
        </tbody>
    </table>

    <b>Regards,<br>Access Management</br></b>
    </br>
</head>
</html>